@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* RESET CSS */

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family:'Montserrat';
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.row {
  margin: 0;
}

.container {
  padding: 20px 0;  
}

p {
  margin: 0;
}

/* CORES */
:root {
  --cor-botao: #242E47;
  --color-fonte: #242E47;
  --color-fonte-botao-imagem: #8F97AB;
  --cor-borda: #D0D0D0;
  --cor-div-imagem: #F4F4F4;
  --cor-back-titulo: #E8F4F4;
}

/* MENU */

#logo {
  width: 360px;
}

header, .navbar {
  background-color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 50px;
  padding-bottom: 5px;
  color:rgba(36, 46, 71, 1);
}

.nav-link {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-link:hover{
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.05);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 200ms ease-in;
  transform: scale(1.05);
  font-weight: 700;
  white-space: nowrap;
}

#link-quero-doar{
  font-weight: 700;
}

#perfil {
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: 30px;
  width: 250px;
  text-align: right;
}

#login-cadastro{
  font-weight: 700;
  font-size: 18px;
  color: rgba(208, 108, 120, 1);
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
}

#login-cadastro:hover {
  color: rgb(189, 95, 106);
  text-decoration: underline;
}

#deslogar {
  font-weight: 500;
  font-size: 15px;
  color: rgba(36, 46, 71, 1);
  line-height: 90%;
  text-decoration: none;
  padding: 0;
}

#deslogar:hover {
  opacity: 90%;
  font-weight: 600;
}

/* CONTEÚDO PRINCIPAL */
#container_conteudo {
  padding: 50px 0;
}

input[type="file"] {
  display: none;
}

.titulo{
  padding: 35px 0;
  background-color: var(--cor-back-titulo);
  color: var(--color-fonte);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.titulo > p {
  margin: 0;
}

#camera {
  padding-right: 12px;
  padding-bottom: 5px;
  width: 40px;
}

#botao_inserir_imagem {
  padding-bottom: 10px;
}

.botao_imagem {
  padding-bottom: 15px;
  align-items: center;
}

.botao_imagem:hover{
  color: #676d7c;
  cursor: pointer;
}

#preview_foto {
  background-color: var(--cor-botao);
  width: 190px;
  height: 35px;
  font-weight: 500;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
}

#preview_foto:hover{
  opacity: 90%;
}

.editar_imagem {
  width: 300px;
  height: 300px;
}

label {
  font-size: 15px;
  color: #8F97AB;
  white-space: nowrap;
}

#teste_imagem {
  width: 300px;
  height: 300px;
  padding-bottom: 18px;
}

.imagem_medicamento {
  text-align: center;
}

#msg-sem-imagem {
  display: none;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  color: rgb(187, 97, 107);
  background-color: rgb(255, 235, 237);
}

#mgs_preencher_campos {
  display: none;
  padding: 8px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  color: rgb(187, 97, 107);
  background-color: rgb(255, 235, 237);
}

.div_botao_cadastro {
  display: flex;
  justify-content: end;
}

#botao_cadastrar {
  background-color: var(--cor-botao);
  width: 132px;
  align-content: flex-end;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
}

#botao_cadastrar:hover{
  opacity: 90%;
}

#caixa-tipo-medicamento{
  padding: 0;
}

#caixa-quantidade{
  padding: 0;
}

.col-md-1{
  padding: 0 5px;
}


/* FOOTER */
  
footer {
  margin-top: auto;
}


.container-footer {
  background-color: rgba(232, 244, 244, 1);
  padding: 30px 0;
}

#footer {
  margin: 0;
  color: rgba(36, 46, 71, 1);
  font-size: 12px;
  padding-right: 20px;
  text-align: right;
}

#logo-rodape{
  width: 266px;
}

#logopuc {
  padding-bottom: 10px;
}

#logo-puc-rodape{
  width: 84px;
}

#texto-rodape {
  display: flex;
  align-items: center;
  justify-content: end;
}


@media (min-width: 320px) and (max-width: 480px) {

  .container{
    padding: 15px 25px;
}

#logo {
    width: 200px;
}

#perfil{
    padding: 0;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#login-cadastro{
    font-size: 15px;
}

#deslogar{
    font-weight: 600;
    font-size: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 0;
    text-align: center;
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

#home {
    padding-top: 25px;
}

  #container_conteudo {
    padding: 25px 25px;
  }

  input[type="file"] {
    display: none;
  }

  .titulo{
    padding: 25px 0;
    background-color: var(--cor-back-titulo);
    color: var(--color-fonte);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  
  .titulo > p {
    margin: 0;
  }

  #div_imagem {
    padding: 0;
  }
  
  #camera {
    padding-right: 10px;
  }
  
  .botao_imagem {
    padding-bottom: 20px;
    text-align: center;
  }
  
  #preview_foto {
    background-color: var(--cor-botao);
    width: 196px;
    height: 36px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 25px;
  }
  
  .editar_imagem {
    width: 260px;
    height: 260px;
    padding-bottom: 18px;
  }

  #teste_imagem {
    width: 260px;
    height: 260px;
    padding-bottom: 18px;
  }
  
  label {
    font-size: 14px;
    color: #8F97AB;
  }

  .div_botao_cadastro {
    display: flex;
    justify-content: center;
  }
  
  #botao_cadastrar {
    margin-top: 20px;
    background-color: var(--cor-botao);
    width: 100%;
    align-content: flex-end;
    font-weight: 500;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  

  .container-footer {
    background-color: rgba(232, 244, 244, 1);
    padding: 20px 0;
}

#footer {
    font-size: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 0;
}

#logo-rodape{
    width: 200px;
}

#logopuc {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-puc-rodape{
    width: 55px;
}

#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media (min-width: 481px) and (max-width: 768px) {

 .container{
        padding: 15px 20px;
    }

    #logo {
        width: 250px;
    }

    #perfil{
        padding: 0;
        padding-top: 10px;
        text-align: left;
    }
    
    #login-cadastro{
      font-size: 16px;
    }

    #deslogar{
      font-weight: 600;
      font-size: 13px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 0;
    }
    
    .nav-link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }

    #home {
        padding-top: 25px;
    }

  #container_conteudo {
    padding: 25px 25px;
  }

  input[type="file"] {
    display: none;
  }

  .titulo{
    padding: 25px 0;
    background-color: var(--cor-back-titulo);
    color: var(--color-fonte);
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
  
  .titulo > p {
    margin: 0;
  }
  
  #camera {
    padding-right: 15px;
  }
  
  .botao_imagem {
    padding-bottom: 20px;
    text-align: center;
  }
  
  
  .editar_imagem {
    width: 270px;
    height: 270px;
  }
  
  label {
    font-size: 15px;
    color: #8F97AB;
  }

  #teste_imagem {
    width: 270px;
    height: 270px;
    padding-bottom: 18px;
  }

  .div_botao_cadastro {
    display: flex;
    justify-content: center;
  }
  
  #botao_cadastrar {
    margin-top: 15px;
    background-color: var(--cor-botao);
    width: 80%;
    align-content: flex-end;
    font-weight: 500;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .container-footer {
    background-color: rgba(232, 244, 244, 1);
    padding: 20px 0;
  }

  #footer {
    font-size: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 0;
  }

  #logo-rodape{
    width: 200px;
  }

  #logopuc {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo-puc-rodape{
    width: 55px;
  }

  #rodape {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #texto-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (min-width: 769px) and (max-width: 990px) {
  
.container{
    padding: 15px 20px;
}

#logo {
    width: 260px;
}

#perfil{
    padding: 0;
    padding-top: 10px;
    text-align: left;
}

#login-cadastro{
    font-size: 16px;
}

#deslogar{
  font-weight: 600;
  font-size: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 0;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

#home {
    padding-top: 25px;
}

  #container_conteudo {
    padding: 50px 25px;
  }

  input[type="file"] {
    display: none;
  }

  .titulo{
    padding: 35px 0;
    background-color: var(--cor-back-titulo);
    color: var(--color-fonte);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  
  .titulo > p {
    margin: 0;
  }

  #camera {
    padding-right: 15px;
  }
  
  .botao_imagem {
    padding-bottom: 20px;
    text-align: center;
  }
  
  .editar_imagem {
    width: 290px;
    height: 290px;
    padding-bottom: 18px;
  }

  #teste_imagem {
    width: 290px;
    height: 290px;
    padding-bottom: 18px;
  }
  
  label {
    font-size: 15px;
    color: #8F97AB;
  }

  .div_botao_cadastro {
    display: flex;
    justify-content: end;
  }
  
  #botao_cadastrar {
    background-color: var(--cor-botao);
    width: 132px;
    height: 36px;
    align-content: flex-end;
    font-weight: 500;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 6px;
  }

.container-footer {
    background-color: rgba(232, 244, 244, 1);
    padding: 20px 0;
}

#footer {
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 0;
}

#logo-rodape{
    width: 200px;
}

#logopuc {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-puc-rodape{
    width: 55px;
}

#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
} 

}

@media (min-width: 991px) and (max-width: 1400px) {
  
#logo {
    width: 290px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 25px;
}

.nav-link {
    font-size: 16px;
}

#login-cadastro{
    font-size: 16px;
}

#deslogar{
    font-size: 14px;
    line-height: 90%;
}

#perfil {
    width: 200px;
}

  #container_conteudo {
    padding: 50px 25px;
  }

  input[type="file"] {
    display: none;
  }

  .titulo{
    padding: 30px 0;
    background-color: var(--cor-back-titulo);
    color: var(--color-fonte);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  
  .titulo > p {
    margin: 0;
  }

  #camera {
    padding-right: 15px;
  }
  
  
  .editar_imagem {
    width: 260px;
    height: 260px;
    padding-bottom: 18px;
  }

  #teste_imagem {
    width: 260px;
    height: 260px;
    padding-bottom: 18px;
  }
  
  label {
    font-size: 13px;
    color: #8F97AB;
  }

  .div_botao_cadastro {
    display: flex;
    justify-content: end;
  }
  
  #botao_cadastrar {
    background-color: var(--cor-botao);
    width: 132px;
    height: 36px;
    align-content: flex-end;
    font-weight: 500;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 6px;
  }

}


