/*Fonte MontSerrat do Google*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

/*Gerais*/

html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family:'Montserrat';
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.row {
    margin: 0;
}

.container {
    padding: 20px 0;  
}

p {
    margin: 0;
}



/* Reader */

#logo {
    width: 360px;
}

header, .navbar {
    background-color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 50px;
    padding-bottom: 5px;
    color:rgba(36, 46, 71, 1);
}

.nav-link {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
}

.nav-link:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
    font-weight: 700;
    white-space: nowrap;
}

#link-quero-receber{
    font-weight: 700;
}

#perfil {
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 30px;
    width: 250px;
    text-align: right;
}

#login-cadastro{
    font-weight: 700;
    font-size: 18px;
    color: rgba(208, 108, 120, 1);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
}

#login-cadastro:hover {
    color: rgb(189, 95, 106);
    text-decoration: underline;
}

#deslogar {
    font-weight: 500;
    font-size: 15px;
    color: rgba(36, 46, 71, 1);
    line-height: 90%;
    text-decoration: none;
    padding: 0;
}

#deslogar:hover {
    opacity: 90%;
    font-weight: 600;
}


/* Conteúdo Medicamentos */


#titulo-medicamento{ 
    padding: 35px 0;
    background-color: rgba(232, 244, 244, 1);
    color: rgba(36, 46, 71, 1);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

#Texto-secundario{
    font-size: 20px;
    font-weight: 600px;
    color: rgba(36, 46, 71, 1);
    padding-top: 41px;
}

.caixa-medicamento{
    border: 1px solid rgba(167, 183, 183, 1);
    border-radius: 8px;
    height: 490px;
    width: 95%;
    margin: 8px 8px;
    padding: 17px;
    text-align: center;
}

.caixa-medicamento2 {
    height: 206px;
    width: 100%;
    background-color: #242E47;
    padding: 15px 25px;
    text-align: start;
    margin-top: 9px;
    border-radius: 6px;
}

.nome_medicamento {
    color: #242E47;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 2px;
}

.info1 {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.info_data {
    font-size: 14px;
    padding-bottom: 15px;
    line-height: 17px;
}

.info2 {
    color: white;
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 10px;
}

.titulo1 {
    color: white;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 12px;
    text-align: center;
}

.titulo2 {
    color: white;
    font-weight: 600;
    font-size: 13px;
}

#conteudo-medicamento{
    padding: 17px;
    text-align: center;
    
}
.medicamento{
    font-size: 18px;
    font-weight: 600;
    color:rgba(36, 46, 71, 1);
}
.quantidade{
    font-size: 15px;
    font-weight: 400;
    color:black;
    padding-bottom: 8px;    
}

.editar_imagem_med {
    width: 140px;
    height: 140px;
    padding-bottom: 10px;
}

#nova_div{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0;
}

#container-central{
    padding: 0 0 80px 0;

}

#msg-sem-medicamentos{
    display: none;
    font-size: 16px;
    color: rgb(184, 184, 184);
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

    
/* Footer */
  
footer {
    margin-top: auto;
}

.container-footer {
    background-color: rgba(232, 244, 244, 1);
    padding: 30px 0;
}

#footer {
    margin: 0;
    color: rgba(36, 46, 71, 1);
    font-size: 12px;
    padding-right: 20px;
    text-align: right;
}

#logo-rodape{
    width: 266px;
}

#logopuc {
    padding-bottom: 10px;
}

#logo-puc-rodape{
    width: 84px;
}

#texto-rodape {
    display: flex;
    align-items: center;
    justify-content: end;
}

@media (min-width: 320px) and (max-width: 480px) {

    .container{
        padding: 15px 25px;
    }

    #logo {
        width: 200px;
    }

    #perfil{
        padding: 0;
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }
    
    #login-cadastro{
        font-size: 15px;
    }

    #deslogar{
        font-weight: 600;
        font-size: 13px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 8px 0;
        text-align: center;
    }
    
    .nav-link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }

    #home {
        padding-top: 25px;
    }

    #titulo-medicamento{
        padding: 25px 0;
        font-size: 20px;
    }

    #Texto-secundario{
        font-size: 15px;
        padding-top: 30px;
    }

    #container-central{
        padding: 0 15px 80px 15px;
    }

    #caixa-medicamento{
        width: 100%;
    }
    #informacao-doador{
        width: 100%;
    }

    .container-footer {
        background-color: rgba(232, 244, 244, 1);
        padding: 20px 0;
    }
    
    #footer {
        font-size: 10px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 0;
    }

    #logo-rodape{
        width: 200px;
    }

    #logopuc {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-puc-rodape{
        width: 55px;
    }

    #rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #texto-rodape {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nova_div{
        grid-template-columns: 100%;
    }

}

@media (min-width: 481px) and (max-width: 768px){

    .container{
        padding: 15px 20px;
    }

    #logo {
        width: 250px;
    }

    #perfil{
        padding: 0;
        padding-top: 10px;
        text-align: left;
    }
    
    #login-cadastro{
        font-size: 16px;
    }
  
    #deslogar{
        font-weight: 600;
        font-size: 13px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 0;
    }
    
    .nav-link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }

    #home {
        padding-top: 25px;
    }

    #container-central{
        padding: 0 15px 80px 15px;
    }
   
    #titulo-medicamento{
        padding: 25px 0;
        font-size: 26px;
    }

    #Texto-secundario{
        font-size: 18px;
    }

    #faixa-pesquisa-medicamentos{
        height: 80px;
    }

    .container-footer {
        background-color: rgba(232, 244, 244, 1);
        padding: 20px 0;
    }
    
    #footer {
        font-size: 12px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 0;
    }

    #logo-rodape{
        width: 200px;
    }

    #logopuc {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-puc-rodape{
        width: 55px;
    }

    #rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #texto-rodape {
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    #nova_div{
        grid-template-columns: 50% 50%;
    }

    .caixa-medicamento2 {
        padding: 15px 15px;
    }

    .titulo1 {
        font-size: 12px;
    }

 }

 @media (min-width: 769px) and (max-width: 990px){

    .container{
        padding: 15px 20px;
    }

    #logo {
        width: 260px;
    }

    #perfil{
        padding: 0;
        padding-top: 10px;
        text-align: left;
    }
    
    #login-cadastro{
        font-size: 16px;
    }

    #deslogar{
        font-weight: 600;
        font-size: 14px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 0;
    }
    
    .nav-link {
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
    }

    #home {
        padding-top: 25px;
    }

    #titulo-medicamento{
        padding: 35px 0;
        font-size: 30px;
    }

    #Texto-secundario{
        font-size: 20px;
    }
    #container-central{
        padding: 5px 30px;
    }
    #faixa-pesquisa-medicamentos{
        height: 80px;
    }

    .container-footer {
        background-color: rgba(232, 244, 244, 1);
        padding: 20px 0;
    }
    
    #footer {
        font-size: 12px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 0;
    }

    #logo-rodape{
        width: 200px;
    }

    #logopuc {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-puc-rodape{
        width: 55px;
    }

    #rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #texto-rodape {
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    #nova_div{
        grid-template-columns: 50% 50%;
    }

 }

 @media (min-width: 991px) and (max-width: 1400px) {

    #logo {
        width: 290px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 25px;
    }

    .nav-link {
        font-size: 16px;
    }

    #login-cadastro{
        font-size: 16px;
    }

    #deslogar{
        font-size: 14px;
        line-height: 90%;
    }

    #perfil {
        width: 200px;
    }

    #titulo-medicamento{
        padding: 35px 0;
        font-size: 30px;
    }

    #nova_div{
        grid-template-columns: 33% 33% 33%;
    }
}