/*Fonte MontSerrat do Google*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

/*Gerais*/
html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family:'Montserrat';
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.row {
    margin: 0;
}

.container {
    padding: 20px 0;  
}

p {
    margin: 0;
}


/* Reader */

#logo {
    width: 360px;
}

header, .navbar {
    background-color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 50px;
    padding-bottom: 5px;
    color:rgba(36, 46, 71, 1);
}

.nav-link {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
}

.nav-link:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
    font-weight: 700;
    white-space: nowrap;
}

#perfil {
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 30px;
    width: 250px;
    text-align: right;
}

#login-cadastro{
    font-weight: 700;
    font-size: 18px;
    color: rgba(208, 108, 120, 1);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
}

#login-cadastro:hover {
    color: rgb(189, 95, 106);
    text-decoration: underline;
}

#deslogar {
    font-weight: 500;
    font-size: 15px;
    color: rgba(36, 46, 71, 1);
    line-height: 90%;
    text-decoration: none;
    padding: 0;
}

#deslogar:hover {
    opacity: 90%;
    font-weight: 600;
}


/*MAIN*/

#titulo {
  background-color: rgba(232, 244, 244, 1);
  color: rgba(36, 46, 71, 1);
  padding: 35px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

#dadosCadastrais {
  color: rgba(36, 46, 71, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

#colCadastro {
  border: 1px solid rgba(190, 194, 206, 1);
  border-radius: 8px;
  padding: 0;
}

#col12 {
  padding: 17px 30px;
}

#zeroPaddingInfs{
  padding: 0;
}

#zeroPadding {
  padding: 0;
}

#zeroPadding1 {
  padding: 40px 0 0 0;
}

#zeroContato {
  padding: 40px 0 0 0;
}

#zeroContato1 {
  padding: 0 0 90px 0;
}

#nomeDoador0 {
  font-weight: 600;
  font-size: 14px;
  color: rgba(36, 46, 71, 1);
  padding-bottom: 3px;
  margin: 0;
}

#nomeDoador {
  font-weight: 600;
  font-size: 14px;
  color: rgba(36, 46, 71, 1);
  padding-bottom: 3px;
  margin: 0;
}

#nomeDoador1 {
  font-weight: 600;
  font-size: 14px;
  color: rgba(36, 46, 71, 1);
  padding-bottom: 3px;
  padding-top: 25px;
  margin: 0;
}

#telefone {
  font-weight: 600;
  font-size: 14px;
  color: rgba(36, 46, 71, 1);
  padding-bottom: 3px;
  margin: 0;
}

#textoBox1,
#textoBox2,
#textoBox3,
#textoBox4,
#textoBox5,
#textoBox6,
#textoBox7,
#textoBox8,
#textoBox9,
#textoBox10 {
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}


/* Footer */

footer {
    margin-top: auto;
}

.container-footer {
    background-color: rgba(232, 244, 244, 1);
    padding: 30px 0;
}

#footer {
    margin: 0;
    color: rgba(36, 46, 71, 1);
    font-size: 12px;
    padding-right: 20px;
    text-align: right;
}

#logo-rodape{
    width: 266px;
}

#logopuc {
    padding-bottom: 10px;
}

#logo-puc-rodape{
    width: 84px;
}

#texto-rodape {
    display: flex;
    align-items: center;
    justify-content: end;
}


/* Responsividade */

@media (min-width: 320px) and (max-width: 480px) {

    .container{
        padding: 15px 25px;
    }

    #logo {
        width: 200px;
    }

    #perfil{
        padding: 0;
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }
    
    #login-cadastro{
        font-size: 15px;
    }

    #deslogar{
        font-weight: 600;
        font-size: 13px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 8px 0;
        text-align: center;
    }
    
    .nav-link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }

    #home {
        padding-top: 25px;
    }

    #titulo {
        font-size: 20px;
        padding: 25px 0;
    }

    #dadosCadastrais {
        font-size: 17px;
      }

    #col12 {
        padding: 20px 25px;
    }

    #zeroPaddingInfs {
        padding: 0 30px 0 30px;
    }
    
    #zeroPadding1 {
        padding: 40px 30px 0 30px;
    }
    
    #zeroContato {
        padding: 40px 30px 0 30px;
    }
    
    #zeroContato1 {
        padding: 0 30px 90px 30px;
    }

    #nomeDoador{
        padding-top: 25px;
    }
    
    .container-footer {
        background-color: rgba(232, 244, 244, 1);
        padding: 20px 0;
    }
    
    #footer {
        font-size: 10px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 0;
    }

    #logo-rodape{
        width: 200px;
    }

    #logopuc {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-puc-rodape{
        width: 55px;
    }

    #rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #texto-rodape {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .container{
        padding: 15px 20px;
    }

    #logo {
        width: 250px;
    }

    #perfil{
        padding: 0;
        padding-top: 10px;
        text-align: left;
    }
    
    #login-cadastro{
        font-size: 16px;
      }
  
      #deslogar{
        font-weight: 600;
        font-size: 13px;
      }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 0;
    }
    
    .nav-link {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }

    #home {
        padding-top: 25px;
    }

    #titulo {
        font-size: 26px;
        padding: 25px 0;
    }

    #dadosCadastrais {
        font-size: 18px;
    }

    #col12 {
        padding: 20px 25px;
    }

    #zeroPaddingInfs {
        padding: 0 30px 0 30px;
    }
    
    #zeroPadding1 {
        padding: 40px 30px 0 30px;
    }
    
    #zeroContato {
        padding: 40px 30px 0 30px;
    }
    
    #zeroContato1 {
        padding: 0 30px 90px 30px;
    }

    #nomeDoador{
        padding-top: 25px;
    }

    .container-footer {
        background-color: rgba(232, 244, 244, 1);
        padding: 20px 0;
    }
    
    #footer {
        font-size: 12px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 0;
    }

    #logo-rodape{
        width: 200px;
    }

    #logopuc {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-puc-rodape{
        width: 55px;
    }

    #rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #texto-rodape {
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}

@media (min-width: 769px) and (max-width: 990px) {

    .container{
        padding: 15px 20px;
    }

    #logo {
        width: 260px;
    }

    #perfil{
        padding: 0;
        padding-top: 10px;
        text-align: left;
    }
    
    #login-cadastro{
        font-size: 16px;
    }
    
    #deslogar{
      font-weight: 600;
      font-size: 14px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 0;
    }
    
    .nav-link {
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
    }

    #home {
        padding-top: 25px;
    }

    #titulo {
        font-size: 30px;
        padding: 35px 0;
    }

    #dadosCadastrais {
        font-size: 19px;
    }

    #col12 {
        padding: 20px 25px;
    }

    #zeroPaddingInfs {
        padding: 0 30px 0 30px;
    }
    
    #zeroPadding1 {
        padding: 40px 30px 0 30px;
    }
    
    #zeroContato {
        padding: 40px 30px 0 30px;
    }
    
    #zeroContato1 {
        padding: 0 30px 90px 30px;
    }

    #nomeDoador{
        padding-top: 25px;
    }
  
    .container-footer {
        background-color: rgba(232, 244, 244, 1);
        padding: 20px 0;
    }
    
    #footer {
        font-size: 12px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 0;
    }

    #logo-rodape{
        width: 200px;
    }

    #logopuc {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-puc-rodape{
        width: 55px;
    }

    #rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #texto-rodape {
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}


@media (min-width: 991px) and (max-width: 1400px) {

    #logo {
        width: 290px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 25px;
    }

    .nav-link {
        font-size: 16px;
    }

    #login-cadastro{
        font-size: 16px;
    }

    #deslogar{
        font-size: 14px;
        line-height: 90%;
    }

    #perfil {
        width: 200px;
    }

    #titulo {
        font-size: 30px;
        padding: 30px 0;
    }



}